<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supervisor1</key>
	<dict>
		<key>display_name</key>
		<string>Supervisor 1</string>
		<key>username</key>
		<string>supervisor1</string>
		<key>password</key>
		<string>12345</string>
		<key>visits</key>
		<array>
			<dict>
				<key>visit_date</key>
				<string>07/12/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Wiston Churchill</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/13/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>27 de Febrero</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/14/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
                                        <string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/15/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Nunez de Caceres</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/19/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Arroyo Hondo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/20/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/21/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Winston Churchill</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/22/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>27 de Febrero</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/26/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/27/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Nunez de Caceres</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/28/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Arroyo Hondo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/29/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/02/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Paseo - Santiago</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/03/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Santiago</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/04/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Paseo - Santiago</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/05/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Santiago</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/09/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Nunez de Caceres</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/10/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>27 de Febrero</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/11/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/12/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Winston Churchill</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/17/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/18/2017</string>
				<key>branchoffice_name</key>
				<string>100%</string>
				<key>branchoffice_address</key>
				<string>NA</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/23/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Enriquillo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/24/2017</string>
				<key>branchoffice_name</key>
				<string>100%</string>
				<key>branchoffice_address</key>
				<string>NA</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/25/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Enriquillo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/26/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Arroyo Hondo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/30/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Arroyo Hondo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
		</array>
		<key>promotionPerson</key>
		<dict>
			<key>display_name</key>
			<string>Promotor/a 1</string>
			<key>username</key>
			<string>promotor1</string>
			<key>password</key>
			<string>12345</string>
		</dict>
	</dict>
	<key>supervisor2</key>
	<dict>
		<key>display_name</key>
		<string>Supervisor 2</string>
		<key>username</key>
		<string>supervisor2</string>
		<key>password</key>
		<string>12345</string>
		<key>visits</key>
		<array>
			<dict>
				<key>visit_date</key>
				<string>07/12/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Winston Churchill</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/13/2017</string>
				<key>branchoffice_name</key>
				<string>Unidos</string>
				<key>branchoffice_address</key>
				<string>Bella Vista</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_spoon</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/14/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/15/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Independencia</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_lunch_box</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/19/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Arroyo Hondo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/20/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/21/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Winston Churchill</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/22/2017</string>
				<key>branchoffice_name</key>
				<string>Unidos</string>
				<key>branchoffice_address</key>
				<string>Bella Vista</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/26/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/27/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Independencia</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/28/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Tiradentes</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/29/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/02/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>El Embrujo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/03/2017</string>
				<key>branchoffice_name</key>
				<string>Playero</string>
				<key>branchoffice_address</key>
				<string>Sosua</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/04/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>El Embrujo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/05/2017</string>
				<key>branchoffice_name</key>
				<string>Playero</string>
				<key>branchoffice_address</key>
				<string>Sosua</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/09/2017</string>
				<key>branchoffice_name</key>
				<string>Iberia</string>
				<key>branchoffice_address</key>
				<string>Higuey</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/10/2017</string>
				<key>branchoffice_name</key>
				<string>Iberia</string>
				<key>branchoffice_address</key>
				<string>Higuey</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/11/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Punta Cana</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/12/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Los Frailes</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/17/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Sarasota</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/18/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Enriquillo</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/23/2017</string>
				<key>branchoffice_name</key>
				<string>Nacional</string>
				<key>branchoffice_address</key>
				<string>Lope de Vega</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/24/2017</string>
				<key>branchoffice_name</key>
				<string>Zaglul</string>
				<key>branchoffice_address</key>
				<string>SPM</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/25/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Megacentro</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/26/2017</string>
				<key>branchoffice_name</key>
				<string>Zaglul</string>
				<key>branchoffice_address</key>
				<string>SPM</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/30/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Luperon</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
                                        <string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
		</array>
		<key>promotionPerson</key>
		<dict>
			<key>display_name</key>
			<string>Promotor/a 2</string>
			<key>username</key>
			<string>promotor2</string>
			<key>password</key>
			<string>12345</string>
		</dict>
	</dict>
	<key>supervisor3</key>
	<dict>
		<key>display_name</key>
		<string>Supervisor 3</string>
		<key>username</key>
		<string>supervisor3</string>
		<key>password</key>
		<string>12345</string>
		<key>visits</key>
		<array>
			<dict>
				<key>visit_date</key>
				<string>07/12/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Agora Mall</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/13/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Sarasota</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/14/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Galeria 360</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
			<dict>
				<key>visit_date</key>
				<string>07/19/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>La Esperilla</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_promotional_kit</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/20/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Republica de Colombia</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/21/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Agora Mall</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/22/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Sarasota</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/26/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Galeria 360</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/27/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>Los Frailes</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_spoon</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/28/2017</string>
				<key>branchoffice_name</key>
				<string>Bravo</string>
				<key>branchoffice_address</key>
				<string>La Esperilla</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>07/29/2017</string>
				<key>branchoffice_name</key>
				<string>Pola</string>
				<key>branchoffice_address</key>
				<string>Republica de Colombia</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/18/2017</string>
				<key>branchoffice_name</key>
				<string>Jumbo</string>
				<key>branchoffice_address</key>
				<string>Megacentro</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_lunch_box</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>
                        <dict>
				<key>visit_date</key>
				<string>08/23/2017</string>
				<key>branchoffice_name</key>
				<string>Sirena</string>
				<key>branchoffice_address</key>
				<string>Galeria 360</string>
				<key>prizes</key>
				<array>
					<string>prize_spoon</string>
					<string>prize_kitchen_gloves</string>
					<string>prize_plastic_container</string>
					<string>prize_promotional_kit</string>
					<string>prize_promotional_kit</string>
				</array>
			</dict>                               
		</array>
		<key>promotionPerson</key>
		<dict>
			<key>display_name</key>
			<string>Promotor/a 3</string>
			<key>username</key>
			<string>promotor3</string>
			<key>password</key>
			<string>12345</string>
		</dict>
	</dict>
</dict>
</plist>
